Wifi/flows.json
[
    {
        "id": "49302d4251e7ca49",
        "type": "tab",
        "label": "流程 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3292b6a665e954d4",
        "type": "mqtt in",
        "z": "49302d4251e7ca49",
        "name": "",
        "topic": "4ID3_G7/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d6dc5ac72e6a5b2d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "23f9b0ed18b14f75",
                "aa47151ef751a9bd"
            ]
        ]
    },
    {
        "id": "23f9b0ed18b14f75",
        "type": "debug",
        "z": "49302d4251e7ca49",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "aa47151ef751a9bd",
        "type": "ui_chart",
        "z": "49302d4251e7ca49",
        "name": "temperature",
        "group": "faf354fc959dcb26",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "abcb4a3ecdc4a3cb",
        "type": "mqtt in",
        "z": "49302d4251e7ca49",
        "name": "",
        "topic": "4ID3_G7/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d6dc5ac72e6a5b2d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 320,
        "wires": [
            [
                "47cee8aae83e7b86",
                "db28e5a753d4684b"
            ]
        ]
    },
    {
        "id": "9324113496b03b7e",
        "type": "mqtt in",
        "z": "49302d4251e7ca49",
        "name": "",
        "topic": "4ID3_G7/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d6dc5ac72e6a5b2d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 380,
        "wires": [
            [
                "948ce56b7c084c2f",
                "8de57455a4f5efd9",
                "af3b2f6fa7aaba2a"
            ]
        ]
    },
    {
        "id": "9aa479740ce2f286",
        "type": "mqtt in",
        "z": "49302d4251e7ca49",
        "name": "",
        "topic": "4ID3_G7/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d6dc5ac72e6a5b2d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 440,
        "wires": [
            [
                "28462fd117cafd7d",
                "0b2ea764a3f44130"
            ]
        ]
    },
    {
        "id": "47cee8aae83e7b86",
        "type": "debug",
        "z": "49302d4251e7ca49",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "948ce56b7c084c2f",
        "type": "debug",
        "z": "49302d4251e7ca49",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 400,
        "wires": []
    },
    {
        "id": "28462fd117cafd7d",
        "type": "debug",
        "z": "49302d4251e7ca49",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "db28e5a753d4684b",
        "type": "ui_chart",
        "z": "49302d4251e7ca49",
        "name": "pressure",
        "group": "faf354fc959dcb26",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1000",
        "ymax": "1100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "8de57455a4f5efd9",
        "type": "ui_chart",
        "z": "49302d4251e7ca49",
        "name": "humidity",
        "group": "faf354fc959dcb26",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "0b2ea764a3f44130",
        "type": "ui_chart",
        "z": "49302d4251e7ca49",
        "name": "light",
        "group": "faf354fc959dcb26",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "af3b2f6fa7aaba2a",
        "type": "ui_gauge",
        "z": "49302d4251e7ca49",
        "name": "",
        "group": "faf354fc959dcb26",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#43cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "d6dc5ac72e6a5b2d",
        "type": "mqtt-broker",
        "name": "Mosquitto Test",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "faf354fc959dcb26",
        "type": "ui_group",
        "name": "Default",
        "tab": "ae82eb74f5d0058e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae82eb74f5d0058e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]